server:
  port: 8081

spring:
  application:
    name: client-service
  datasource:
    url: jdbc:postgresql://localhost:5434/client_db
    #url: jdbc:postgresql://localhost:5434/client_db?createDatabaseIfNotExist=true
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/