server:
  port: 8761

spring:
  application:
    name: discovery-service

eureka:
  client:
    # Je suis le serveur, je ne m enregistre pas moi-meme
    register-with-eureka: false
    # Je n ai pas besoin de telecharger l annuaire, c est MOI l annuaire
    fetch-registry: false